<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello2 페이지</title>
</head>
<body>
    <h1>두번째 헬로 페이지</h1>
    <!--/* 컨트롤러에서 전달한 5개 속성 출력 */-->
    <p>이름 : <span th:text="${name}"></span></p>
    <p>학번 : <span th:text="${studentId}"></span></p>
    <p>학과 : <span th:text="${major}"></span></p>
    <p>과목 : <span th:text="${subject}"></span></p>
    <p>메시지 : <span th:text="${message}"></span></p>
    <a href="/hello">이전 페이지</a><br>
    <a href="/">홈페이지 메인</a>
</body>
</html>
